/blist.exe
/blist.o
/blist.out
/blist1.cpp
/cowsignal.exe
/cowsignal.o
/cowsignal.out
/friday.exe
/friday.in.txt
/friday.o
/friday.out
/gift1.exe
/gift1.o
/gift1.out
/lostcow.exe
/lostcow.o
/lostcow.out
/mixmilk.exe
/mixmilk.o
/mixmilk.out
/ride.exe
/ride.o
/ride.out
/shell.exe
/shell.in.txt
/shell.o
/shell.out
/shuffle.exe
/shuffle.o
/shuffle.out
/shuffle.txt
/shuffle1.cpp
/speeding.exe
/speeding.o
/speeding.out
/suffle.out
/test.cpp
/test.exe
/test.out
/traffic.exe
/traffic.o
/traffic.out
/Your Ride Is Here.out